{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="col">
        <div class="movingintro1">
            <p>
                “Now I will tell you the answer to my question. It is this. The
            </p>
        </div>
        <div class="movingintro1">
            <p>
                Party seeks <span style='color: yellow'>power</span> entirely for its own sake. We are not interested
            </p>
        </div>
        <div class="movingintro1">
            <p>
                in the good of others; we are interested solely in <span style='color: orange'>power</span>, pure <span style='color: pink'>power</span>.
            </p>
        </div>
        <div class="movingintro1">
            <p>
                What pure <span style='color: red'>power</span> means you will understand presently. We are different from the
            </p>
        </div>
        <div class="movingintro1">
            <p>
                oligarchies of the past in that we know what we are doing. All the others,
            </p>
        </div>
        <div class="movingintro1">
            <p>
                even those who resembled ourselves, were cowards and hypocrites. The German
            </p>
        </div>
        <div class="movingintro1">
            <p>
                Nazis and the Russian Communists came very close to us in their methods, but
            </p>
        </div>
        <div class="movingintro1">
            <p>
                they never had the courage to recognize their own motives. They pretended,
            </p>
        </div>
        <div class="movingintro1">
            <p>
                perhaps they even believed, that they had seized <span style='color: green'>power</span> unwillingly
            </p>
        </div>
        <div class="movingintro1">
            <p>
                and for a limited time, and that just around the corner there lay a
            </p>
        </div>
        <div class="movingintro1">
            <p>
                paradise where human beings would be free and equal. We are not like that.
            </p>
        </div>
        <div class="movingintro1">
            <p>
                We know that no one ever seizes <span style='color: lightblue'>power</span> with the intention of relinquishing it.
            </p>
        </div>
        <div class="movingintro1">
            <p>
                <span style='color: blue'>Power</span> is not a means; it is an end. One does not establish a dictatorship in
            </p>
        </div>
        <div class="movingintro1">
            <p>
                order to safeguard a revolution; one makes the revolution in order to establish the
            </p>
        </div>
        <div class="movingintro1">
            <p>
                dictatorship. The object of persecution is persecution. The object of torture is torture.
            </p>
        </div>
        <div class="movingintro1">
            <p>
                The object of <span style='color: purple'>power</span> is <span style='color: brown'>power</span>. Now you begin to understand me.”
            </p>
        </div>
        <div class="d-flex justify-content-center">
            ― George Orwell, 1984
        </div>
    </div>
{% endblock %}
